<div class="container">
    <div class="mt-2 mb-2">
        <h1>Flight Dashboard</h1>
        
        <p>Welcome to the dashboard, user!</p>
    </div>


    <div class="d-flex flex-row justify-content-between">
        <h1>All Bookings</h1>
        <button routerLink="/add-flight" class="btn-add">Add Flight</button>
    </div>
    <hr>
    <!-- [ngClass]="['card-background']"  -->
    <div class="row">
        <div *ngFor="let flightDetail of flightDetails; trackBy: trackbyFlightDetail" class="col-md-3" ngClass="cards">
            <div ngClass="card-background :" *ngIf="flightDetail.availability">
                <h4 [ngStyle]="{'color':'black'}">Flight Operator - {{ flightDetail.flightName }}</h4>
                <p>{{ flightDetail.location.from | uppercase }} - {{ flightDetail.location.to | lowercase }}</p>
                <p>Price : {{ flightDetail.cost }}</p>
                <p>Distance : {{ flightDetail.distance }} KM</p>
                <!-- <button routerLink="/edit-flight">Edit</button> -->
                <!-- <button class="btn-view" routerLink="/view-flight"
                [queryParams]="{
                    id: flightDetail.id,
                    flightName: flightDetail.flightName,
                    from: flightDetail.location.from,
                    to: flightDetail.location.to,
                    cost: flightDetail.cost,
                    distance: flightDetail.distance
                }"
                >View</button> -->
                <button routerLink="/view-flight" class="btn-view" [queryParams]="{id : flightDetail.id}">View</button>
                <button class="btn-edit" (click)="onClick()">Edit</button>
            </div>
        </div>
    </div>
</div>