<h1>Sample Dashboard</h1>

<p>Welcome to the dashboard, user!</p>

<div>
    <h1>All Bookings</h1>
    <!-- [ngClass]="['card-background']"  -->
    <div *ngFor="let flightDetail of flightDetails; trackBy: trackbyFlightDetail" ngClass="cards">
        <div ngClass="card-background :" *ngIf="flightDetail.availability">
            <p [ngStyle]="{'color':'white'}">Flight Operator - {{ flightDetail.flightName }}</p>
            <p>{{ flightDetail.location.from | uppercase }} - {{ flightDetail.location.to | lowercase }}</p>
            <p>Price : {{ flightDetail.cost  }}</p>
            <p>Distance : {{ flightDetail.distance }} KM</p>
            <button (click)="onClick()">Edit</button>
        </div>
    </div>
</div>